<nav class="fixed md:top-4 inset-x-0 z-50 bg-transparent">
  <div class="group relative w-full max-w-7xl mx-auto px-6 lg:px-12 text-white
              border border-white/10 bg-neutral-900/30 backdrop-blur-md
              shadow-lg shadow-black/10 md:rounded-xl">
    <div class="py-3 flex items-center justify-between">
      <fv-navbar-logo />
      <div class="flex items-center">
        <fv-navbar-links-desktop class="hidden md:flex" />
        <fv-navbar-toggle class="md:hidden" />
      </div>
    </div>
    <fv-navbar-panel-desktop [columns]="getColumns()" />
  </div>
</nav>

<fv-navbar-overlay-mobile />
<fv-navbar-sidebar-mobile [columns]="getColumns()" />
