<div class="absolute inset-x-0 pointer-events-none" aria-hidden="true"
     [style.top]="'var(--railTop)'" [style.bottom]="'var(--railBottom)'">

  <div class="absolute top-0 bottom-0 w-[2px] text-neutral-300/70
              bg-[repeating-linear-gradient(to_bottom,currentColor_0_6px,transparent_6px_14px)]
              md:left-1/2 md:-translate-x-1/2
              left-[var(--railMobileA)]">
  </div>

  <ng-container *ngFor="let s of segments">
    <div class="absolute z-10 md:left-1/2 md:-translate-x-1/2 left-[var(--railMobileA)]
                w-[6px] md:w-[8px] -translate-x-[2px] rounded-full bg-red-600/90"
         [style.top.px]="s.top"
         [style.height.px]="s.height"
         [style.opacity]="s.closing ? 0 : 1">
    </div>
  </ng-container>
</div>
