<div class="relative grid grid-cols-1 md:grid-cols-2 md:gap-x-24">
  <div class="pl-6 md:pl-0 relative"
       [ngClass]="{
         'md:col-start-1 md:pr-12 md:text-right': side === 'left',
         'md:col-start-2 md:pl-12': side === 'right'
       }">
    <div data-card (click)="toggle()">
      <vida-card
        [year]="item?.year"
        [title]="item?.title"
        [text]="item?.text"
        [placeholderColor]="item?.placeholderColor || '#e5e7eb'"
        [imageSide]="item?.imageSide || 'right'"
      />
    </div>
  </div>
  <div class="hidden md:block"></div>
</div>
